<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-talkplus" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>talkplus</name>

<js-module name="talkplus" src="www/talkplus.js">
<clobbers target="talkplus" />
</js-module>

<platform name="android"><config-file parent="/*" target="res/xml/config.xml">
<feature name="talkplus">
<param name="android-package" value="org.apache.cordova.talkplus.talkplus" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml" />
<source-file src="src/android/talkplus.java" target-dir="src/org/apache/cordova/talkplus" />

</platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="talkplus">
<param name="ios-package" value="talkplus" />
</feature></config-file><source-file src="src/ios/talkplus.m" />
</platform>

</plugin>
